/*form 1 */

.form-one {
  display: flex;
  justify-content: center;
}

.form-one ::placeholder {
  font-size: 20px;
}

@media (min-width: 768px) {
  .form-one input {
    padding: 20px 10px 15px 10px;
    border-radius: 3px;
    border: none;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .form-one {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-one input {
    padding: 10px 10px 5px 10px;
    border-radius: 3px;
    border: none;
    height: 40px;
    margin-bottom: 25px;
    width: 90%;
  }

  .form-one button {
    height: 40px;
    font-size: 20px;
  }
}

/*form 2*/

.form-two-row {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-two-row input {
  width: 50%;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;

  border: 2px solid rgb(12, 108, 252);
}

.form-two-row textarea {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(12, 108, 252);
  margin-bottom: 15px;
}

.form-two-row-button {
  margin-bottom: 15px;
}

/*form 3*/

.form-three-row {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-three-row input {
  width: 50%;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;

  border: 2px solid rgb(12, 108, 252);
}

.form-three-row textarea {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(12, 108, 252);
  margin-bottom: 15px;
}

.form-three-row-button {
  margin-bottom: 15px;
}
