/*email-form-modal*/

.email-form-modal {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: none;
  text-align: center;
  padding: 60px;
  border: 2px solid rgb(12, 108, 252);
}

.email-form-modal h3 {
  margin-bottom: 10px;
  font-size: 30px;
}

.email-form-modal p {
  margin-bottom: 40px;
}

/*contact-form-modal*/

.contact-form-modal {
  width: 500px;
  min-height: 500px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: none;
  text-align: center;
  padding: 70px 50px;
  border: 2px solid rgb(12, 108, 252);
}

.contact-form-modal h3 {
  font-size: 23px;
}
